<!DOCTYPE html>
<html>
  <head>
    <title>Pedlar {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <style>
    html,body,h1,h2,h3,h4,h5 { font-family: "Open Sans", sans-serif; }
    .material-icons { vertical-align: top; }
  </style>
<body class="w3-theme-l5">
{% block body %}
{% endblock %}
</body>
</html>
