{% extends "base.html" %}
{% block body %}
<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Pedlar</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
  <a href="/logout" class="w3-bar-item w3-button w3-right w3-padding-large w3-hover-white" title="">Logout</a>
 </div>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m2">
      <!-- Profile -->
      <div class="w3-card w3-white">
        <div class="w3-container">
         <h4 class="w3-center">{{ current_user.username }}</h4>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Designer, UI</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
        </div>
      </div>
      <br>
      <!-- Accordion -->
      <div class="w3-card">
        <div class="w3-white">
          <button onclick="toggle('accord1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
          <div id="accord1" class="w3-hide w3-container">
            <p>Some text..</p>
          </div>
          <button onclick="toggle('accord2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
          <div id="accord2" class="w3-hide w3-container">
            <p>Some other text..</p>
          </div>
        </div>      
      </div>
      <br>
      <!-- Issues --> 
      <div class="w3-card w3-white w3-hide-small">
        <div class="w3-container">
          <h5>Issues</h5>
          <p>For any issues please contact the deployment administrator.</p>
        </div>
      </div>
      <br>
    </div> <!-- End Left Column -->
    <div id="app"> <!-- Vue Wrapper for dynamic content -->
      {% raw %}
      <!-- Middle Column -->
      <div class="w3-col m7">
        <div class="w3-row-padding">
          <div class="w3-card w3-white">
            <table class="w3-table w3-striped">
              <tr class="w3-theme-l3">
                <th>Name</th>
                <th>Balance</th>
              </tr>
              <tr v-for="l in leaders">
                <td>{{ l.username }}</td>
                <td>{{ l.balance }}</td>
              </tr>
            </table>
          </div>
          <br>
          <div class="w3-card w3-white">
            <table class="w3-table w3-striped">
              <tr class="w3-theme-d3">
                <th>Agent</th>
                <th>Type</th>
                <th>Price Open</th>
                <th>Price Close</th>
                <th>Profit</th>
                <th>Created</th>
                <th>Closed</th>
              </tr>
              <tr v-for="o in orders">
                <td>{{ o.agent }}</td>
                <td>{{ o.type }}</td>
                <td>{{ o.price_open }}</td>
                <td>{{ o.price_close }}</td>
                <td>{{ o.profit }}</td>
                <td>{{ o.created.toLocaleString() }}</td>
                <td>{{ o.closed.toLocaleString() }}</td>
              </tr>
            </table>
          </div>
          <br>
        </div>
      </div> <!-- End Middle Column -->

      <!-- Right Column -->
      <div class="w3-col m3">
        <div class="w3-card w3-white">
          <div class="w3-container">
            <div id="chatbox" class="w3-panel w3-border" style="min-height:80vh;max-height:80vh;overflow-y:scroll">
              <p v-for="m in messages" style="white-space:pre-wrap"><b>{{ m.username }}:</b> {{ m.msg }}</p>
            </div>
            <textarea id="chatinput" v-on:keypress.enter.exact.prevent="sendchat" class="w3-input w3-margin-bottom" style="max-width:100%" placeholder="message"></textarea>
          </div>
        </div>
        <br>
      </div> <!-- End Right Column -->
    </div> <!-- End Vue Wrapper -->
    {% endraw %}
    
  </div> <!-- End Grid -->
  
</div> <!-- End Page Container -->
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3">
  <h5>Footer</h5>
</footer>
<script>
// Accordion
function toggle(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
{% if config['DEBUG'] %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% else %}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
{% endif %}
<script>
// Setup socket connection
var socket = io.connect('http://' + document.domain + ':' + location.port);
socket.on('connect', function() {
  console.log("Socket connected.")
});
// Setup Vue dynamic components
var app = new Vue({
  el: '#app',
  data: {
    leaders: [],
    orders: [], // Vue is unhappy with dict changes so use array
    messages: []
  },
  // Event handlers
  methods: {
    sendchat: function(event) {
      if (/\S/.test(event.target.value)) {
        payload = {username: '{{ current_user.username }}',
                   msg: event.target.value};
        socket.emit('chat', payload);
        event.target.value = "";
      }
    },
    addmessage: function(msg) {
      this.messages.push(msg);
      var container = this.$el.querySelector("#chatbox");
      container.scrollTop = container.scrollHeight;
    }
  }
});
// Handle incoming socket messages
socket.on('chat', app.addmessage);
socket.on('leaderboard', function(leaders) {
  app.leaders = leaders;
});

function cleanOrder(order) {
  if (order.closed) {
    order.closed = new Date(order.closed);
  } else {
    order.closed = { toLocaleString: () => "" }
  }
  order.created = new Date(order.created);
}

socket.on('orders', function(orders) {
  for(i in orders) {
    cleanOrder(orders[i]);
  }
  app.orders = orders;
});
socket.on('order', function(order) {
  cleanOrder(order);
  // Check for updating order
  idx = app.orders.findIndex((x) => { return x.id == order.id; });
  if (idx == -1) {
    app.orders.unshift(order);
  } else {
    Vue.set(app.orders, idx, order);
  }
});
</script>

{% endblock %}
