{% extends "main_base.html" %}
{% block columns %}
<div id="app"> <!-- Vue Wrapper for dynamic content -->
  {% raw %}
  <!-- Middle Column -->
  <div class="w3-col m7">
    <div class="w3-row-padding">
      <div class="w3-card w3-white">
        <table class="w3-table w3-hoverable w3-striped">
          <tr class="w3-theme-l3">
            <th>Name</th>
            <th>Balance</th>
          </tr>
          <tr v-for="l in leaders">
            <td>{{ l.username }}</td>
            <td>{{ l.balance }}</td>
          </tr>
        </table>
      </div>
      <br>
      <div class="w3-card w3-white">
        <table class="w3-table">
          <tr class="w3-theme-d3">
            <th>Ask</th>
            <th>Bid</th>
            <th>Swap</th>
          </tr>
          <tr>
            <td>{{ tick.ask }}</td>
            <td>{{ tick.bid }}</td>
            <td>{{ Math.round((tick.ask - tick.bid)*1000000)/100 }}</td>
          </tr>
        </table>
      </div>
      <br>
      <div class="w3-card w3-white">
        <canvas id="tick_chart"></canvas>
      </div>
      <br>
      <div class="w3-card w3-white">
        <canvas id="bal_chart"></canvas>
      </div>
      <br>
      <div class="w3-card w3-white">
        <table class="w3-table w3-hoverable w3-striped">
          <tr class="w3-theme-d3">
            <th>Agent</th>
            <th>Type</th>
            <th>Price Open</th>
            <th>Price Close</th>
            <th>Profit</th>
            <th>Created</th>
            <th>Closed</th>
          </tr>
          <tr v-for="o in orders">
            <td>{{ o.agent }}</td>
            <td>{{ o.type }}</td>
            <td>{{ o.price_open }}</td>
            <td>{{ o.price_close }}</td>
            <td>{{ o.profit }}</td>
            <td>{{ o.created.toLocaleString() }}</td>
            <td>{{ o.closed.toLocaleString() }}</td>
          </tr>
        </table>
      </div>
      <br>
    </div>
  </div> <!-- End Middle Column -->

  <!-- Right Column -->
  <div class="w3-col m3">
    <div class="w3-card w3-white">
      <div class="w3-container">
        <div id="chatbox" class="w3-panel w3-border" style="min-height:60vh;max-height:60vh;overflow-y:scroll">
          <p v-for="m in messages" style="white-space:pre-wrap"><b v-bind:class="{ 'w3-text-theme': current_username == m.username }">{{ m.username }}:</b> {{ m.msg }}</p>
        </div>
        <textarea id="chatinput" v-on:keypress.enter.exact.prevent="sendchat" class="w3-input w3-margin-bottom" style="max-width:100%" placeholder="message"></textarea>
      </div>
    </div>
    <br>
  </div> <!-- End Right Column -->
  {% endraw %}
</div> <!-- End Vue Wrapper -->
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
{% if config['DEBUG'] %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% else %}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
{% endif %}
<script>
// Setup socket connection
var socket = io.connect('http://' + document.domain + ':' + location.port);
socket.on('connect', function() {
  console.log("Socket connected.")
});
// Setup Vue dynamic components
var app = new Vue({
  el: '#app',
  data: {
    current_username: "{{ current_user.username }}",
    leaders: [], // leaderboard leaders
    orders: [], // Vue is unhappy with dict changes so use array
    messages: [], // chat messages
    tick: {'bid': 0.0, 'ask': 0.0} // latest tick data
  },
  // Event handlers
  methods: {
    sendchat: function(event) {
      if (/\S/.test(event.target.value)) {
        payload = {username: '{{ current_user.username }}',
                   msg: event.target.value};
        socket.emit('chat', payload);
        event.target.value = "";
      }
    },
    addmessage: function(msg) {
      this.messages.push(msg);
      var container = this.$el.querySelector("#chatbox");
      container.scrollTop = container.scrollHeight;
    }
  }
});

// Setup charts
var current_balance = {{ current_user.balance }};
var ctx = document.getElementById('bal_chart').getContext('2d');
var bal_chart = new Chart(ctx, {
  type: 'line',
  data: {
    datasets: [{
      label: "Balance",
      backgroundColor: 'rgba(0, 62, 116, 0.2)',
      borderColor: 'rgb(0, 62, 116)',
      data: [],
    }]
  },
  options: {}
});

var ctx = document.getElementById('tick_chart').getContext('2d');
var tick_chart = new Chart(ctx, {
  type: 'line',
  data: {
    datasets: [
      {label: "Ask",
      borderColor: 'rgb(234, 67, 53)',
      data: []},
      {label: "Bid",
      borderColor: 'rgb(66, 133, 244)',
      data: []}
    ]
  },
  options: {elements: { line: { tension: 0, fill: false }}}
});

// Handle incoming socket messages
socket.on('chat', app.addmessage);
socket.on('leaderboard', function(leaders) {
  app.leaders = leaders;
});

function cleanOrder(order) {
  if (order.closed) {
    order.closed = new Date(order.closed);
  } else {
    order.closed = { toLocaleString: () => "" }
  }
  order.created = new Date(order.created);
}

// When new recent order list arrives
socket.on('orders', function(orders) {
  // Clean orders and setup balance chart
  for(i in orders) {
    cleanOrder(orders[i]);
    // We need the initial balance before profits
    current_balance -= orders[i].profit; // Undo any profits
  }
  // Reconstruct history of balance
  bal_chart.data.datasets[0].data.push(current_balance);
  for(var i = orders.length-1; i >= 0; i--) {
    current_balance += orders[i].profit;
    bal_chart.data.datasets[0].data.push(current_balance);
  }
  bal_chart.data.labels = Array.from({length: orders.length+1}, (_, k) => k);
  bal_chart.update();
  app.orders = orders;
});

// When new or order update arrives
socket.on('order', function(order) {
  cleanOrder(order);
  // Check for updating order
  idx = app.orders.findIndex((x) => { return x.id == order.id; });
  if (idx == -1) {
    app.orders.unshift(order);
  } else {
    Vue.set(app.orders, idx, order);
    current_balance += order.profit;
    bal_chart.data.datasets[0].data.push(current_balance);
    bal_chart.data.labels.push(bal_chart.data.labels.length);
    bal_chart.update();
  }
});

// Tick data
tick_hist_size = {{ config['TICK_HIST_SIZE'] }};
socket.on('tick', function(tick) {
  app.tick = tick;
  // Chart is updated independant of Vue
  tick_chart.data.datasets[0].data.push(tick.ask);
  tick_chart.data.datasets[1].data.push(tick.bid);
  if (tick_chart.data.labels.length < tick_hist_size) {
    tick_chart.data.labels.push(tick_chart.data.labels.length);
  } else {
    tick_chart.data.datasets[0].data.shift();
    tick_chart.data.datasets[1].data.shift();
  }
  tick_chart.update();
});
</script>
{% endblock %}
